<div class="relative"></div>
<!-- card -->
<div class="lg:grid lg:grid-cols-6 gap-6 m-6 mt-1">
<div class="lg:col-span-2">
<div class="card w-full shadow-xl mb-3 bg-base-100">
<div class="card-body">
<h2 class="card-title">Kontor</h2>
<div class="flex">
<p class="h-full my-auto">Tööaeg:</p>
<p class="h-full">E-R 9:00-18:00</p>
</div>
<div class="flex">
<p class="h-full my-auto">Aadress:</p>
<p class="h-full">Tuha 3, 11415 Tallinn</p>
</div>
</div>
</div>
<div class="card w-full bg-base-100 shadow-xl mt-3">
<div class="card-body text-black">
<h2 class="card-title">Rekvisiidid</h2>
<div class="grid grid-cols-8 grid-rows-4">
<p class="col-span-3">Telefon EE</p>
<p class="col-span-5">+372 529489</p>
<p class="col-span-3">Telefon RU</p>
<p class="col-span-5">+372 5232121</p>
<p class="col-span-3">E-post</p>
<p class="col-span-5">TLB@TLB.ee</p>
</div>
</div>
</div>
</div>
<div class="lg:col-span-4">
<div class="relative h-96 w-full mt-4 lg:h-full lg:w-full lg:mt-0">
<iframe allowfullscreen="" height="100%" loading="lazy" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2029.2892051942017!2d24.795251877065958!3d59.428251017577246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692ecaad819f9e1%3A0x4e81151beb862f69!2sTuha%203%2C%2011415%20Tallinn!5e0!3m2!1sru!2see!4v1724678726647!5m2!1sru!2see" style="border:0;" width="100%"></iframe>
<!-- <iframe class="absolute top-0 left-0 w-full h-full"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d561.989272872013!2d37.6901788!3d55.7071176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab4da44bbcc1d%3A0xd0c43653bfa1771c!2z0K7QttC90L7Qv9C-0YDRgtC-0LLQsNGPINGD0LsuLCA3INGB0YLRgNC-0LXQvdC40LUgNywgNDAzLCDQnNC-0YHQutCy0LAsINCg0L7RgdGB0LjRjywgMTE1MDg4!5e0!3m2!1sru!2see!4v1692191332377!5m2!1sru!2see"
            frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe> -->
</div>
</div>
</div>