<h1 class="mt-6 text-3xl mx-auto w-full px-4">Hinnapakkumise saamiseks peate kõigepealt valima kraana</h1>
<div class="grid grid-cols-3 gap-2 justify-items-center">
<div class="card w-96 bg-base-100 shadow-xl">
<figure class="px-10 pt-10">
<img alt="Crane" class="rounded-xl" src="/siteimg/crane1.png"/>
</figure>
<div class="card-body items-center text-center">
<h2 class="card-title">Laadimis Kraan</h2>
<p>Кран для погрузки</p>
<div class="card-actions justify-end">
<a th:href="@{/{lang}/crane-info (lang=${page_lang})}"><button class="btn btn-primary">Loe edasi</button></a>
<a th:href="@{/{lang}/pricing/laadimisKraanForm (lang=${page_lang})}"><button class="btn btn-primary">Valige kraana</button></a>
</div>
</div>
</div>
<div class="card w-96 bg-base-100 shadow-xl">
<figure class="px-10 pt-10">
<img alt="Crane" class="rounded-xl" src="/siteimg/crane1.png"/>
</figure>
<div class="card-body items-center text-center">
<h2 class="card-title">Laadimis Kraan</h2>
<p>Кран для погрузки</p>
<div class="card-actions justify-end">
<a th:href="@{/{lang}/crane-info (lang=${page_lang})}"><button class="btn btn-primary">Loe edasi</button></a>
<a th:href="@{/{lang}/pricing/SildKraanForm (lang=${page_lang})}"><button class="btn btn-primary">Valige kraana</button></a>
</div>
</div>
</div>
</div>
