<div class="w-full">
<h2 class="mx-auto text-2xl w-fit">Kontaktandmed</h2>
</div>
<div class="sm:grid sm:grid-cols-2 sm:gap-4 w-full sm:justify-items-left xl:justify-items-center" id="info_1">
<div class="mt-4 w-full">
<label class="form-control w-full max-w-xs mx-auto">
<span class="label-text">Фирма *</span>
<input class="input input-bordered w-full max-w-xs grow" name="firm" placeholder="Фирма" required="" type="text"/>
</label>
</div>
<div class="mt-4 w-full">
<label class="form-control w-full max-w-xs mx-auto">
<span class="label-text">Имя *</span>
<input class="input input-bordered w-full max-w-xs grow" name="name" placeholder="Имя" required="" type="text"/>
</label>
</div>
<div class="mt-4 w-full">
<label class="form-control w-full max-w-xs mx-auto">
<span class="label-text">Tänav</span>
<input class="input input-bordered w-full max-w-xs grow" name="street" placeholder="Улица" type="text"/>
</label>
</div>
<div class="mt-4 w-full">
<label class="form-control w-full max-w-xs mx-auto">
<span class="label-text">Riik</span>
<input class="input input-bordered w-full max-w-xs grow" name="country" placeholder="Страна" type="text"/>
</label>
</div>
<div class="mt-4 w-full">
<label class="form-control w-full max-w-xs mx-auto">
<span class="label-text">Indeks</span>
<input class="input input-bordered w-full max-w-xs grow" name="index" placeholder="Индекс" type="text"/>
</label>
</div>
<div class="mt-4 w-full">
<label class="form-control w-full max-w-xs mx-auto">
<span class="label-text">Linn/Maakond</span>
<input class="input input-bordered w-full max-w-xs grow" name="city" placeholder="Город/Уезд" req="" type="text"/>
</label>
</div>
<div class="mt-4 w-full">
<label class="form-control w-full max-w-xs mx-auto">
<span class="label-text">Почта *</span>
<input class="input input-bordered w-full max-w-xs grow" name="email" placeholder="Почта" required="" type="text"/>
</label>
</div>
<div class="mt-4 w-full">
<label class="form-control w-full max-w-xs mx-auto">
<span class="label-text">Номер телефона *</span>
<input class="input input-bordered w-full max-w-xs grow" name="phone" placeholder="Номер телефона" required="" type="text"/>
</label>
</div>
</div>