<footer class="footer p-10 text-base-content mt-4 bg-[#FFCC00]">
<aside>
<img alt="" class="w-40 h-40" src="/siteimg/Sambona_logo.png"/>
<p>Sambona Group OÜ<br/>Providing reliable tech since 1992</p>
</aside>
<nav>
<h6 class="footer-title">Meie ettevõte</h6>
<a class="link link-hover">Meist</a>
<a class="link link-hover">Kontaktid</a>
<a class="link link-hover">Teenused</a>
</nav>
<nav>
<h6 class="footer-title">Legal</h6>
<a class="link link-hover">Kasutustingimused</a>
<a class="link link-hover">Privacy policy</a>
<a class="link link-hover">Cookie policy</a>
</nav>
</footer>