<div>
<h2 class="text-2xl font-bold mb-4 mt-4">TEHNILISED ANDMED</h2>
<div class="flex flex-wrap">
<div class="w-full lg:w-1/2">
<table class="min-w-full bg-white">
<tbody>
<tr class="border-b">
<td class="py-2 px-4 font-medium border">Tõstevõime</td>
<td class="py-2 px-4 border">0.5 - 200 т</td>
</tr>
<tr class="border-b">
<td class="py-2 px-4 font-medium border">Мост</td>
<td class="py-2 px-4 border">kuni 40 m</td>
</tr>
<tr class="border-b">
<td class="py-2 px-4 font-medium border">Tõstekõrgus</td>
<td class="py-2 px-4 border">kuni 100 m</td>
</tr>
<tr class="border-b">
<td class="py-2 px-4 font-medium border">Tööklass</td>
<td class="py-2 px-4 border">M1 ... M8</td>
</tr>
<tr class="border-b">
<td class="py-2 px-4 font-medium border">Tõstekiirus</td>
<td class="py-2 px-4 border">kuni 20 m/min</td>
</tr>
<tr class="border-b">
<td class="py-2 px-4 font-medium border">Telfri kiirus</td>
<td class="py-2 px-4 border">kuni 40 m/min</td>
</tr>
<tr class="border-b">
<td class="py-2 px-4 font-medium border">Kraana kiirus</td>
<td class="py-2 px-4 border">kuni 120 m/min</td>
</tr>
<tr class="border-b">
<td class="py-2 px-4 font-medium border">Juhtimistüüp</td>
<td class="py-2 px-4 border">Raadio, riputatud juhtimine või operaatori kabiin</td>
</tr>
<tr class="border-b">
<td class="py-2 px-4 font-medium border">Kasutustingimused</td>
<td class="py-2 px-4 border">väljas / siseruumides</td>
</tr>
<tr>
<td class="py-2 px-4 font-medium border">Töötemperatuur</td>
<td class="py-2 px-4 border">-40 ... +60 °C</td>
</tr>
</tbody>
</table>
</div>
<div class="w-full lg:w-1/2 lg:pl-10">
<img alt="Technical Image" class="w-full h-auto rounded" src="/siteimg/crane1.png"/>
</div>
</div>
<div class="w-full flex p-4 h-fit">
<a class="ml-auto" th:href="@{/pricing?lang={lang} (lang=${page_lang})}"><button class="btn btn-primary">Telli</button></a>
</div>
</div>
