<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/tailwind.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/siteimg/Sambona_logo_mini3.webp">
</head>


<body class="relative bg-gray-100">
<div id="th:lang"></div>
<div class="flex flex-col min-h-screen">

    <!-- nav -->
    <div th:insert="~{${#strings.concat(page_lang, '/parts/nav')}}"></div>

    <div class="container flex-1">
        <div th:insert="~{${#strings.concat(page_lang, '/', page_content)}}"></div>
    </div>
    <!-- footer -->
    <div th:insert="~{${#strings.concat(page_lang, '/parts/footer')}}"></div>
    <div class="toast toast-top toast-end">
    </div>
</div>
</body>
</html>