<div class="w-full">
    <h2 class="mx-auto text-2xl w-fit">Контактные данные</h2>
</div>

<div id="info_1" class="sm:grid sm:grid-cols-2 sm:gap-4 w-full sm:justify-items-left xl:justify-items-center">
        <div class="mt-4 w-full">
            <label class="form-control w-full max-w-xs mx-auto">
                <span class="label-text">Фирма *</span>
                <input required name="firm" type="text" placeholder="Фирма"
                       class="input input-bordered w-full max-w-xs grow "/>
            </label>
        </div>
        <div class="mt-4 w-full">
            <label class="form-control w-full max-w-xs mx-auto">
                <span class="label-text">Имя *</span>
                <input required name="name" type="text" placeholder="Имя"
                       class="input input-bordered w-full max-w-xs grow"/>
            </label>
        </div>
        <div class="mt-4 w-full">
            <label class="form-control w-full max-w-xs mx-auto">
                <span class="label-text">Улица</span>
                <input name="street" type="text" placeholder="Улица"
                       class="input input-bordered w-full max-w-xs grow"/>
            </label>
        </div>
        <div class="mt-4 w-full">
            <label class="form-control w-full max-w-xs mx-auto">
                <span class="label-text">Страна</span>
                <input name="country" type="text" placeholder="Страна"
                       class="input input-bordered w-full max-w-xs grow"/>
            </label>
        </div>
        <div class="mt-4 w-full">
            <label class="form-control w-full max-w-xs mx-auto">
                <span class="label-text">Индекс</span>
                <input name="index" type="text" placeholder="Индекс"
                       class="input input-bordered w-full max-w-xs grow"/>
            </label>
        </div>
        <div class="mt-4 w-full">
            <label class="form-control w-full max-w-xs mx-auto">
                <span class="label-text">Город/Уезд</span>
                <input req name="city" type="text" placeholder="Город/Уезд"
                       class="input input-bordered w-full max-w-xs grow"/>
            </label>
        </div>
        <div class="mt-4 w-full">
            <label class="form-control w-full max-w-xs mx-auto">
                <span class="label-text">Почта *</span>
                <input required name="email" type="text" placeholder="Почта"
                       class="input input-bordered w-full max-w-xs grow"/>
            </label>
        </div>
        <div class="mt-4 w-full">
            <label class="form-control w-full max-w-xs mx-auto">
                <span class="label-text">Номер телефона *</span>
                <input required name="phone" type="text" placeholder="Номер телефона"
                       class="input input-bordered w-full max-w-xs grow"/>
            </label>
        </div>
    </div>