<div>
    <h2 class="text-2xl font-bold mb-4 mt-4">ТЕХНИЧЕСКИЕ ДАННЫЕ</h2>
    <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2">
            <table class="min-w-full bg-white">
                <tbody>
                <tr class="border-b">
                    <td class="py-2 px-4 font-medium border ">Грузоподъемность</td>
                    <td class="py-2 px-4 border">0.5 - 200 т</td>
                </tr>
                <tr class="border-b">
                    <td class="py-2 px-4 font-medium border ">Мост</td>
                    <td class="py-2 px-4 border">до 40 м</td>
                </tr>
                <tr class="border-b">
                    <td class="py-2 px-4 font-medium border ">Высота подъема</td>
                    <td class="py-2 px-4 border">до 100 м</td>
                </tr>
                <tr class="border-b">
                    <td class="py-2 px-4 font-medium border ">Класс работы</td>
                    <td class="py-2 px-4 border">M1 ... M8</td>
                </tr>
                <tr class="border-b">
                    <td class="py-2 px-4 font-medium border ">Скорость подъема</td>
                    <td class="py-2 px-4 border">до 20 м/мин</td>
                </tr>
                <tr class="border-b">
                    <td class="py-2 px-4 font-medium border ">Скорость тельфера</td>
                    <td class="py-2 px-4 border">до 40 м/мин</td>
                </tr>
                <tr class="border-b">
                    <td class="py-2 px-4 font-medium border ">Скорость крана</td>
                    <td class="py-2 px-4 border">до 120 м/мин</td>
                </tr>
                <tr class="border-b">
                    <td class="py-2 px-4 font-medium border ">Тип управления</td>
                    <td class="py-2 px-4 border">Радио, подвесное управление или операторская кабина</td>
                </tr>
                <tr class="border-b">
                    <td class="py-2 px-4 font-medium border ">Условия эксплуатации</td>
                    <td class="py-2 px-4 border">на улице / внутри помещений</td>
                </tr>
                <tr>
                    <td class="py-2 px-4 font-medium border ">Рабочая температура</td>
                    <td class="py-2 px-4 border">-40 ... +60 °C</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="w-full lg:w-1/2 lg:pl-10">
            <img src="/siteimg/crane1.png" alt="Technical Image" class="w-full h-auto rounded">
        </div>
    </div>
    <div class="w-full flex p-4 h-fit">
        <a href="/EN/pricing" class="ml-auto"><button class="btn btn-primary">Заказать</button></a>
    </div>

</div>
