<div class="h-full ">
    <h2 class="text-2xl font-bold mb-4 mt-4">ТЕХНИЧЕСКИЕ ДАННЫЕ</h2>
    <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2 h-[48rem]">
            <object
                    data="/siteimg/40Tonn.pdf"
                    type="application/pdf"
                    width="80%"
                    height="100%">
            </object>

        </div>
        <div class="w-full lg:w-1/2 lg:pl-10">
            <img src="/siteimg/40tonn.jpg" alt="Technical Image" class="w-full h-auto rounded">
        </div>
    </div>
    <div class="w-full flex p-4 h-fit">
        <a href="/RU/pricing" class="ml-auto"><button class="btn btn-primary">Заказать</button></a>
    </div>
</div>
