<footer class="footer p-10 bg-base-200 text-base-content">
    <aside>
        <img class="w-40 h-40" src="/siteimg/Sambona_logo.png" alt="">
        <p>Sambona Group OÜ<br>Providing reliable tech since 1992</p>
    </aside>
    <nav>
        <h6 class="footer-title">Наша Компания</h6>
        <a class="link link-hover">О нас</a>
        <a class="link link-hover">Контакты</a>
        <a class="link link-hover">Услуги</a>
    </nav>
    <nav>
        <h6 class="footer-title">Legal</h6>
        <a class="link link-hover">Условия пользования</a>
        <a class="link link-hover">Privacy policy</a>
        <a class="link link-hover">Cookie policy</a>
    </nav>
</footer>