<div class="w-full mt-4">
    <h2 class="mx-auto text-2xl w-fit">Характеристики Крана</h2>
</div>
<div id="info_1" class="sm:grid sm:grid-cols-2 sm:gap-4 w-full sm:justify-items-left xl:justify-items-center">
    <div class="mt-4 w-full">
        <label class="form-control w-full max-w-xs mx-auto">
            <span class="label-text">Тип крана</span>
            <select id="crane_type" name="crane_type"
                    onchange="if (this.selectedIndex) change_building_type(this.selectedIndex)"
                    class="select select-bordered w-full max-w-xs mx-auto">
                <option disabled selected value="-1"></option>
                <option value="Однобалочный подвесной мостовой кран">Однобалочный подвесной мостовой кран</option>
                <option value="Однобалочный опорный мостовой кран">Однобалочный опорный мостовой кран</option>
                <option value="Двухбалльный опорный мостовой кран">Двухбалльный опорный мостовой кран</option>
            </select>
        </label>
    </div>
    <div class="mt-4 w-full">
        <label class="form-control w-full max-w-xs mx-auto">
            <span class="label-text">Тип построения крана</span>
            <select id="building_type" name="building_type" class="select select-bordered w-full max-w-xs mx-auto">
                <option disabled selected>Выберите тип крана</option>
            </select>
        </label>
    </div>
    <div class="mt-4 w-full">
        <label class="form-control w-full max-w-xs mx-auto">
            <span class="label-text">Пролёты</span>
        </label>
        <label class="input input-bordered flex items-center gap-2 max-w-xs mx-auto">
            <input type="text" name="spans" class="grow" placeholder="Пролёты"/>
            mm
        </label>
    </div>
    <div class="mt-4 w-full">
        <label class="form-control w-full max-w-xs mx-auto">
            <span class="label-text">Высота подъёма</span>
        </label>
        <label class="input input-bordered flex items-center gap-2 max-w-xs mx-auto">
            <input type="text" name="lifting_height" class="grow" placeholder="Высота подъёма"/>
            mm
        </label>
    </div>
    <div class="mt-4 w-full">
        <label class="form-control w-full max-w-xs mx-auto">
            <span class="label-text">Скорость передвижения Телфера</span>
            <select name="telfer_speed" class="select select-bordered w-full max-w-xs mx-auto">
                <option disabled selected value="-1"></option>
                <option value="2,5-10 m/min">2,5-10 m/min</option>
                <option value="5-20 m/min">5-20 m/min</option>
                <option value="8-32 m/min">8-32 m/min</option>
            </select>
        </label>
    </div>
    <div class="mt-4 w-full">
        <label class="form-control w-full max-w-xs mx-auto">
            <span class="label-text">Скорость передвижения крана</span>
            <select name="crane_speed" class="select select-bordered w-full max-w-xs mx-auto">
                <option disabled selected></option>
                <option value="5-20 m/min">5-20 m/min</option>
                <option value="10-40 m/min">10-40 m/min</option>
            </select>
        </label>
    </div>
    <div class="mt-4 w-full">
        <label class="form-control w-full max-w-xs mx-auto">
            <span class="label-text">Грузоподъёмность</span>
        </label>
        <label class="input input-bordered flex items-center gap-2 max-w-xs mx-auto">
            <input type="text" name="load_capacity" class="grow" placeholder="Грузоподъёмность"/>
            kg
        </label>
    </div>
</div>

<script lang="js">
    var building_type = document.getElementById("building_type");

    function change_building_type(element) {
        switch (element) {
            case 1:
                building_type.innerHTML = "<option selected value='EH-A'>EH-A</option><option value='EH-B'>EH-B</option>";
                break;
            case 2:
                building_type.innerHTML = "<option selected value='EL-A'>EL-A</option><option value='EL-B'>EL-B</option><option value='EL-C'>EL-C</option>";
                break;
            case 3:
                building_type.innerHTML = "<option selected value='A'>A</option>";
                break;
        }
    }
</script>