<div>
    <h2 class="text-2xl font-bold mb-4 mt-4">TEHNILISED ANDMED</h2>
    <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2">
            <table class="min-w-full bg-white">
                <tbody>
                <tr class="border-b">
                    <td class="py-2 px-4 font-medium border ">Tõstevõime</td>
                    <td class="py-2 px-4 border">kuni 200 t</td>
                </tr>
                <tr class="border-b">
                    <td class="py-2 px-4 font-medium border ">Sille</td>
                    <td class="py-2 px-4 border">kuni 50 m</td>
                </tr>
                <tr class="border-b">
                    <td class="py-2 px-4 font-medium border ">Tõstekõrgus</td>
                    <td class="py-2 px-4 border">kuni 20 m
                    </td>
                </tr>
                <tr class="border-b">
                    <td class="py-2 px-4 font-medium border ">Konsool </td>
                    <td class="py-2 px-4 border">kuni 15 m
                    </td>
                </tr>
                <tr class="border-b">
                    <td class="py-2 px-4 font-medium border ">Tööklass </td>
                    <td class="py-2 px-4 border">M3 ... M8</td>
                </tr>
                <tr class="border-b">
                    <td class="py-2 px-4 font-medium border ">Tõstekiirus</td>
                    <td class="py-2 px-4 border">kuni 40 m/min</td>
                </tr>
                <tr class="border-b">
                    <td class="py-2 px-4 font-medium border ">Telfri kiirus </td>
                    <td class="py-2 px-4 border">kuni 60 m/min</td>
                </tr>

                <tr class="border-b">
                    <td class="py-2 px-4 font-medium border ">Kraana kiirus</td>
                    <td class="py-2 px-4 border">kuni 120 m/min</td>
                </tr>
                <tr class="border-b">
                    <td class="py-2 px-4 font-medium border ">Kontroll tüüp</td>
                    <td class="py-2 px-4 border">Raadio, ripkontroll või operaatori kabiin</td>
                </tr>
                <tr class="border-b">
                    <td class="py-2 px-4 font-medium border ">Töötingimused</td>
                    <td class="py-2 px-4 border">väljas / sees</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="w-full lg:w-1/2 lg:pl-10">
            <img src="/siteimg/crane1.png" alt="Technical Image" class="w-full h-auto rounded">
        </div>
    </div>
    <div class="w-full flex p-4 h-fit">
        <a href="/RU/pricing" class="ml-auto"><button class="btn btn-primary">Заказать</button></a>
    </div>
</div>