<div class="flex flex-col">

    <div class="containter flex-none">
        <div th:include="~{${#strings.concat(page_lang, '/parts/carousel')}}" class="w-full">

        </div>
    </div>

    <h1 class="mx-auto mt-4">Sambona Group</h1>
    <h2 class="mx-auto mt-4 px-4">Sambona Group – профессиональный партнёр в сфере аренды и продажи подъёмных кранов</h2>
    <p class="mx-auto mt-4 px-4">Компания Sambona Group предлагает широкий выбор подъёмных кранов для любых строительных задач. Мы обеспечиваем аренду и продажу современного оборудования, которое отвечает всем требованиям безопасности и эффективности. В нашем ассортименте вы найдёте краны различной грузоподъёмности и конфигураций, что позволяет подобрать идеальное решение для любого проекта.

        Компания Sambona Group является официальным представителем Stahl Crane Systems, ведущего производителя кранового оборудования, известного своей надежностью и инновационными технологиями. Мы предоставляем полный спектр услуг в области проектирования, поставки, монтажа, обслуживания, ремонта и модернизации крановых систем Stahl.

        Наша команда профессионалов разрабатывает индивидуальные решения для каждого клиента, учитывая все особенности вашего производства, что гарантирует эффективность и безопасность оборудования. Мы предлагаем широкий ассортимент кранового оборудования, включая мостовые и подвесные краны, тали и подъемные устройства.

        Наши специалисты выполняют качественный монтаж систем любой сложности, а также обеспечивают регулярное техническое обслуживание и ремонт для поддержания оборудования в рабочем состоянии. В случае необходимости модернизации, мы готовы обновить ваши системы, улучшив их производительность и соответствие современным стандартам безопасности.

        Выбирая Sambona Group, вы получаете надежного партнера, который предоставляет комплексное обслуживание, высококачественное оборудование и индивидуальный подход к каждому проекту. Свяжитесь с нами, чтобы получить оптимальные решения для вашего бизнеса.
    <div class="grid xl:grid-cols-3 md:grid-cols-2 gap-6 justify-items-center">
        <div class="card bg-base-100  shadow-xl">
            <figure class="px-4 xsm:px-10 pt-10">
                <img
                        src="siteimg/consol.jpg"
                        alt="Shoes"
                        class="rounded-xl" />
            </figure>
            <div class="card-body items-center text-center px-4 xsm:px-10">
                <h2 class="card-title">консольный кран</h2>
                <p>информация о консольном кране</p>
                <div class="card-actions">
                    <a th:href="@{/crane-info/konsol-kraan-info?lang={lang} (lang=${page_lang})}"><button class="btn btn-primary">Подробнее</button></a>
                    <a th:href="@{/{lang}/pricing (lang=${page_lang})}"><button class="btn btn-primary">Выбрать кран</button></a>
                </div>
            </div>
        </div>
        <div class="card bg-base-100  shadow-xl">
            <figure class="px-4 xsm:px-10 pt-10">
                <img
                        src="siteimg/kozl.jpg"/>
            </figure>
            <div class="card-body items-center text-center px-4 xsm:px-10">
                <h2 class="card-title">Козловой кран</h2>
                <p>Информация о козловом кране</p>
                <div class="card-actions">
                    <a th:href="@{/crane-info/pukk-kraan-info?lang={lang} (lang=${page_lang})}"><button class="btn btn-primary">Подробнее</button></a>
                    <a th:href="@{/{lang}/pricing (lang=${page_lang})}"><button class="btn btn-primary">Выбрать кран</button></a>
                </div>
            </div>
        </div>
        <div class="card bg-base-100  shadow-xl">
            <figure class="px-4 xsm:px-10 pt-10">
                <img
                        src="siteimg/most.jpg"
                        alt="Shoes"
                        class="rounded-xl" />
            </figure>
            <div class="card-body items-center text-center px-4 xsm:px-10">
                <h2 class="card-title">мостовой кран</h2>
                <p>информация о мостовом кране</p>
                <div class="card-actions">
                    <a th:href="@{/crane-info/sild-kraan-info?lang={lang} (lang=${page_lang})}"><button class="btn btn-primary">Подробнее</button></a>
                    <a th:href="@{/{lang}/pricing (lang=${page_lang})}"><button class="btn btn-primary">Выбрать кран</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="toast-container">
        <div class="toast toast-top toast-end">
        </div>
    </div>
</div>

    <div class="toast toast-top toast-end">
    </div>
</div>